/*
footer
*/
.footer {
  width: 100%;
  background-color: var(--header-footer-color);
  
  padding: 2rem 1.5rem;
  margin-top: auto;
}
.footer-container {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  gap: 1rem;
  
  /* Tipografia */
  color: var(--footer-gray-text-color);
  font-size: 0.75rem;     /* 12px - Tamanho elegante para footer */
  font-family: 'Courier New', monospace; /* Toque "Dev/Pixel" */
  letter-spacing: 0.05em;
  text-align: center;
}
.copyright strong {
  color: #fff;
  font-weight: 700;
}
.tagline .highlight {
  color: var(--green-primary); /* Ex: Roxo mágico */
  font-weight: bold;
}
.header-container{
    width: 100%;
    max-width: 100%;
    padding: 10px;
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-container h1{
    font-size: 1.5rem;
}
.header-container svg {
    width: 2rem;
    height: auto;
}
.header-container button {
    margin: 5px;
}
.menu-modal{
    border: 2px solid var(--green-primary);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0
}
.menu-modal button{
    position:absolute;
    top:1rem;
    right:1rem;
}
.menu-modal nav{
    margin: 5rem;
    display: flex;
    align-items: center;
    height: 100%;
}
.menu-modal ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 2rem;
    font-weight: bold;
}
.menu-modal ul li a{
    color: var(--green-primary);
    text-decoration: none;
}
.initial-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
    min-height: 90vh;
}
.initial-section h1{
    font-size: var(--H1-font-size-mobile);
    text-shadow: 
    -2px -2px 0 var(--green-shine-title),   /* Esquerda + Cima -> Vermelho */
     2px -2px 0 var(--green-shine-title),   /* Direita + Cima -> Vermelho (Prioridade para Cima) */
    -2px  2px 0 #000,  /* Esquerda + Embaixo -> Preto (Prioridade para Embaixo) */
     2px  2px 0 #000;  /* Direita + Embaixo -> Preto */
    
    }
.initial-section h1 strong{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--green-shine-title);
    font-size: var(--h1-dev-title-shine-size-mobile);
    text-shadow: 0 0 15px var(--green-shine-title);
    animation: flicker 5s infinite;
}
.fist-span{
    background-color: #020E0A;
    padding: 0.8em;
    border: 2px solid var(--green-primary);
    color: var(--green-primary);
}
.second-animated-span{
    background-color: var(--green-maximun);
    padding: 0.7em;
    border: 2px solid var(--green-shine-title);
    color: var(--font-color-light-mode);
    font-size: 1rem;
    margin-top: 4rem;
    animation: jumping 0.6s infinite alternate;
}
.catch-phrase{
    background-color: var(--black-translucid);
    padding: 1rem;
    width: 90%;
}
.about-section{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background: linear-gradient(to bottom, var(--gradient-top), var(--gradient-bottom));
}
.about-section h1{
    text-align: center;
}
.about-section-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}
.left-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 4rem;
    
}
.left-card img{
    width: 15rem;
    height: auto;
    border-radius: 1rem;
}
.right-card{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right-card-top{
    background-color: var(--dark-gray);
    border: var(--green-shine-title) solid 2px;
    padding: 1rem;
    gap: 4rem;
}
.right-card span strong, .projects-card strong{
    color: var(--green-shine-title);
}
.change-class-buttons{
    display: flex;
    gap: 2rem;
}
.change-class-buttons button{
    background-color: var(--font-color-dark-mode);
    color: var(--font-color-light-mode);
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    cursor: pointer;
}
.right-card-bottom{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 0.2rem;
    padding: 1rem 0;
    
}
.stats-tecnologies{
    background-color: var(--dark-gray);
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 1rem;
    border: var(--green-shine-title) solid 2px;

}
.technologies-section{
    background: linear-gradient(to bottom, var(--gradient-bottom), var(--gradient-top));
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tecnologies-icons-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 90%;
    place-items: center;
    margin-top: 4rem;
    font-size: var(--font-size-tiny);
}
.tecnologies-icons-container span{
    min-width: fit-content;
    
}
.tecnologies-icon-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: 0.3s ease-in-out;
    background-color: var(--dark-gray);
    border: var(--color-gunmetal) solid 2px;
    padding: 0.5rem;
    min-width: fit-content;
    width: 12rem;
    

}
.tecnologies-icon-text:hover {
    transform: scale(1.3);

}
.tecnologies-icons {
    height: 4rem;
    width: auto;
}
.projects-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, var(--gradient-top), var(--gradient-bottom), var(--gradient-top));
    width: 90%;
    gap: 1rem;
}
.projects-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: var(--color-gunmetal) solid 2px;
    background-color: var(--full-dark);
    padding: 2rem;
    gap: 1rem;
}
.project-links{
    display: flex;
    flex-direction: row;
    gap: 4rem;
}
.project-links a{
    background-color: var(--color-gunmetal);
    padding: 1rem;
}
.mock-image{
    width: 100%;
    height: 20rem;
}
.projects-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.projects-card{
    transition: 0.3s ease-in-out;
    min-height: fit-content;
}
.projects-card a{
    font-size: var(--font-size-tiny);
}
.projects-card:hover {
    transform: scale(1.1);
}
@keyframes jumping {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-20px);
    }
}
@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes flicker {
  /* Estado normal: Acesa */
0%, 15.5%, 17.5%, 19.5%, 21.5%, 70%, 100% {
    opacity: 1;
  }

  /* Sequência de Mau Contato (3 piscadas rápidas) */
  16%, 18%, 20% {
    opacity: 0;
  }

  /* Estado: Meia-luz (Instabilidade elétrica) */
  16.5%, 18.5%, 20.5% {
    opacity: 0.4;
  }

  /* Grande Falha (Apaga por mais tempo) */
  60%, 68% {
    opacity: 0;
  }

  /* Oscilação antes de voltar ao normal */
  68.5% {
    opacity: 0.5;
  }
}
@media screen and (min-width: 768px) {

    .second-animated-span{
        font-size: 2rem;
        margin-top: 10rem;
    }
    .initial-section h1{
        font-size: var(--H1-font-size-tablet);
        
    }
    .initial-section h1 strong{
        font-size: 8rem;
    }
    .catch-phrase{
        width: 75%;
    }
    .header-container svg {
        width: 3rem;
        height: auto;
    }
    .initial-section{
       min-height: 100vh;
    }
    .about-section-cards{
    flex-direction: row;
    gap: 2rem;
}
    .left-card img{
    width: 30rem;
    height: auto;
    }
    .tecnologies-icons-container{
    grid-template-columns: repeat(3, 1fr);
    font-size: var(--font-size-medium);
}
.tecnologies-icon-text{
    width: 20rem;

}

.mock-image{
    width: 80%;
    height: fit-content;
}

.projects-card a{
    font-size: var(--font-size-medium);
}

}
@media screen and (min-width: 1440px) {
    .catch-phrase{
        width: 50%;
    }
    .second-animated-span{
        margin-top: 5rem;
    }
    .stats-tecnologies{
        height: 4rem;
    }
    .tecnologies-icons-container{
        grid-template-columns: repeat(5, 1fr);
    }
    .projects-card-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: stretch;
        gap: 1rem;
}

.projects-card a{
    font-size: var(--font-size-larger);
}
}   
  

