/*
footer
*/
.footer {
  width: 100%;
  background-color: var(--header-footer-color);
  
  padding: 2rem 1.5rem;
  margin-top: auto;
}
.footer-container {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  gap: 1rem;
  
  /* Tipografia */
  color: var(--footer-gray-text-color);
  font-size: 0.75rem;
  font-family: 'Courier New', monospace;
  letter-spacing: 0.05em;
  text-align: center;
}
.copyright strong {
  color: #fff;
  font-weight: 700;
}
.tagline .highlight {
  color: var(--green-primary);
  font-weight: bold;
}

.contacts-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.header-container{
    width: 100%;
    max-width: 100%;
    padding: 10px;
    background-color: var(--green-maximun);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-container h1{
    font-size: 1.5rem;
}
.header-container svg {
    width: 2rem;
    height: auto;
}
.header-container button {
    margin: 5px;
}
.navbar{
    display: none;
}

.menu-modal{
    border: 2px solid var(--green-primary);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0
}
.menu-modal button{
    position:absolute;
    top:1rem;
    right:1rem;
}
.menu-modal nav{
    margin: 5rem;
    display: flex;
    align-items: center;
    height: 100%;
}
.menu-modal ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 2rem;
    font-weight: bold;
}
.menu-modal ul li a{
    color: var(--green-primary);
    text-decoration: none;
}
.initial-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
    min-height: 90vh;
}
.initial-section h1{
    font-size: var(--H1-font-size-mobile);
    text-shadow: 
    -2px -2px 0 var(--green-shine-title),
     2px -2px 0 var(--green-shine-title),
    -2px  2px 0 #000,
     2px  2px 0 #000;
    
    }
.initial-section h1 strong{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--green-shine-title);
    font-size: var(--h1-dev-title-shine-size-mobile);
    text-shadow: 0 0 15px var(--green-shine-title);
    animation: flicker 5s infinite;
}
.fist-span{
    background-color: #020E0A;
    padding: 0.8em;
    border: 2px solid var(--green-primary);
    color: var(--green-primary);
}
.second-animated-span{
    background-color: var(--green-maximun);
    padding: 0.7em;
    border: 2px solid var(--green-shine-title);
    color: var(--font-color-light-mode);
    font-size: 1rem;
    margin-top: 4rem;
    animation: jumping 0.6s infinite alternate;
}
.catch-phrase{
    background-color: var(--black-translucid);
    padding: 1rem;
    width: 90%;
}
.about-section{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background: linear-gradient(to bottom, var(--gradient-top), var(--gradient-bottom));
}
.about-section h1{
    text-align: center;
}
.about-section-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;

}
.left-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 4rem;
    animation: apper-left-to-rigth linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;

}
.class-image-swiper {
    height: 25rem;
    max-width: auto;
    border-radius: 1rem;
}
.class-image{
    max-height: 10rem;
}
.right-card{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    animation: apper-rigth-to-left linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
.right-card-top{
    background-color: var(--dark-gray);
    border: var(--green-shine-title) solid 2px;
    padding: 1rem;
    gap: 4rem;
}
.right-card span strong, .projects-card strong{
    color: var(--green-shine-title);
}
.change-class-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.change-class-buttons button {
    background-color: var(--green-shine-title);
    color: var(--font-color-light-mode);
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    
    border: none;
    border-radius: 50%;
    padding: 0;
}
.right-card-bottom{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    gap: 0.2rem;
    padding: 1rem 0;
    
}
.stats-tecnologies{
    background-color: var(--dark-gray);
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 2rem;
    border: var(--green-shine-title) solid 2px;
    font-size: var(--font-size-tiny);


}
.technologies-section{
    background: linear-gradient(to bottom, var(--gradient-bottom), var(--gradient-top));
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tecnologies-icons-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 90%;
    place-items: center;
    margin-top: 4rem;
    font-size: var(--font-size-tiny);

}
.tecnologies-icons-container span{
    min-width: fit-content;
    
}
.tecnologies-icon-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: var(--dark-gray);
    border: var(--green-maximun) solid 2px;
    padding: 0.5rem;
    min-width: fit-content;
    width: 12rem;
    transition: 2s ease 0.3s;
    animation: apper linear;
    animation-timeline: view();
    animation-range: entry 0 cover 20%;
    
}
.tecnologies-icon-text:hover {
    transform: rotate(360deg);
    box-shadow: var(--green-shine-title) 0px 0px 10px 4px;

}
.tecnologies-icons {
    height: 4rem;
    width: auto;
}
.projects-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, var(--gradient-top), var(--gradient-bottom), var(--gradient-top));
    width: 90%;
    gap: 1rem;
}
.projects-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: var(--green-maximun) solid 2px;
    background-color: var(--full-dark);
    padding: 2rem;
    gap: 1rem;
    animation: rigth-to-left linear;
    animation-timeline: view();
    animation-range: entry 0 cover 20%;
}
.project-links{
    display: flex;
    flex-direction: row;
    gap: 4rem;
}
.project-links a{
    background-color: var(--green-maximun);
    padding: 1rem;
}
.mock-image{
    width: 100%;
    height: auto;
}
.projects-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.projects-card{
    transition: 0.3s ease-in-out;
    min-height: fit-content;
    max-width: 90%;
    
}
.projects-card a{
    font-size: var(--font-size-tiny);
}
.projects-card:hover {
    transform: scale(1.1);
}

.contact-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.letter-container{
    border: var(--green-shine-title) solid 4px;
    width: 90%;
    min-height: fit-content;
    padding: 4rem 1rem;
    box-shadow: var(--green-maximun) 0px 0px 5px 4px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: var(--font-size-tiny);
    margin-bottom: 2rem;
}
.cursive-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
    background-color:var(--green-maximun);
    box-shadow: var(--green-maximun) 0px 0px 5px 1px;
}
.cursive-text{
    font-size: var(--font-size-medium);
    width: 80%;
    text-align: center;
    gap: 0.5rem;
}
.letter-button-links{
    padding: 1rem 2rem;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
}

.letter-button-links strong {
    font-size: 2rem;
    font-weight: bold;
}

.letter-button-links:hover{
    box-shadow: var(--green-maximun) 0px 0px 5px 1px;
}


@media screen and (min-width: 768px) {

    .second-animated-span{
        font-size: 2rem;
        margin-top: 10rem;
    }
    .initial-section h1{
        font-size: var(--H1-font-size-tablet);
        
    }
    .initial-section h1 strong{
        font-size: 8rem;
    }
    .catch-phrase{
        width: 75%;
    }
    .header-container svg {
        width: 3rem;
        height: auto;
    }
    .initial-section{
       min-height: 100vh;
    }
    .class-image-swiper 

{
        height: 45rem;
        max-width: auto;
    }
    .stats-tecnologies{
        height: 4rem;
        font-size: var(--font-size-medium);
        text-align: center;
        padding: 3rem;
    }
    .right-card-bottom{
    grid-template-columns: repeat(2, 1fr);
    }
    
    .change-class-buttons button {
        background-color: var(--green-shine-title);
        color: var(--font-color-light-mode);
        font-size: 4rem;
        width: 6rem;
        height: 6rem;
}
    .tecnologies-icons-container{
        grid-template-columns: repeat(3, 1fr);
        font-size: var(--font-size-medium);
    }
    .tecnologies-icon-text{
        width: 20rem;
        
    }

.mock-image{
    width: 60%;
    height: auto;
}


.projects-card a{
    font-size: var(--font-size-medium);
}

}











@media screen and (min-width: 1280px) {
    .header-container{
        height: 5rem;
    }
    .catch-phrase{
        width: 50%;
    }
    .second-animated-span{
        margin-top: 5rem;
    }

    .about-section-cards{
    flex-direction: row;
    gap: 2rem;
    }
    .tecnologies-icons-container{
        grid-template-columns: repeat(5, 1fr);
    }
    .projects-card-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

    .projects-card{
        width: 100%;
    }
    .nav-list-larger{
        background-color: red;
        height: 20px;
    }

}

.projects-card a{
    font-size: var(--font-size-larger);
}
.navbar{
    display: flex;
}
.toggle-menu{
    display: none;
}


.letter-container{
    width: 65%;
    text-align: center;
    gap: 0.5rem;
    align-items: center;
    margin-top: 2rem;
}
.letter-button-links{
    padding: 1rem 2rem;
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
    text-align: left;    
}

.letter-button-links strong {
    font-size: 4rem;
    font-weight: bold;
}
.cursive-text{
    font-size: 2rem;
}
.cursive-container{
    width: 70%;
}

.footer-container{
    font-size: var(--font-larger);
}

.contacts-footer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}


}   
  





@keyframes jumping {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-20px);
    }
}

@keyframes flicker {
  /* Estado normal: Acesa */
0%, 15.5%, 17.5%, 19.5%, 21.5%, 70%, 100% {
    opacity: 1;
  }

  /* Sequência de Mau Contato (3 piscadas rápidas) */
  16%, 18%, 20% {
    opacity: 0;
  }

  /* Estado: Meia-luz (Instabilidade elétrica) */
  16.5%, 18.5%, 20.5% {
    opacity: 0.4;
  }

  /* Grande Falha (Apaga por mais tempo) */
  60%, 68% {
    opacity: 0;
  }

  /* Oscilação antes de voltar ao normal */
  68.5% {
    opacity: 0.5;
  }
}

@keyframes apper-left-to-rigth {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
    
}
@keyframes apper-rigth-to-left {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
    
}

@keyframes apper {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}


@-webkit-keyframes scale-in-left {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    opacity: 1;
  }
}
@keyframes scale-in-left {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    opacity: 1;
  }
}
